.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #162235;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #962e2e;
  font-size: 5rem;
  color: #b0d1da;
}

p {
  font-size: 4rem;
  color: #bbe9da;
  font-family: "Indie Flower", cursive;
}
footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
}